<div class="container">
    <div class="text">
        <h4>Empoyee Detail</h4>

    </div>
    <form>
        <div class="parent">
            <div class="detail">
                <h6><i class="ri-user-fill"></i> Name : {{employeeDetail.name}}
                </h6>
                <div>
                    <h6><i class="ri-mail-fill"></i> EmailId : {{employeeDetail.email}}
                    </h6>
                </div>
                <h6><i class="ri-money-rupee-circle-fill"></i> Salary : {{employeeDetail.salary }}
                </h6>

                <h6><i class="ri-contacts-book-2-fill"></i> ContactNo : {{employeeDetail.contactNo}}
                </h6>
                <h6><i class="ri-calendar-fill"></i> JoinDate : {{employeeDetail.join_date}}
                </h6>
                <h6 >Status : <a id="status">{{employeeDetail.status}}</a>
                </h6>
            </div>
            <div class="info">
                <img src="/assets/images.jpg" alt="">
            </div>
        </div>
    </form>
</div>