label {
    font-weight: bold;
}

:host .user-form {
    
    width: 30%;
    margin-left: 92vw;
}

:host .p-inputtext {
    width: 100%;
}



#text {
    text-align: center;
    padding-bottom: 3vh;
}

form {
    margin-left: 20vw;
}