<!-- <h5> Attendence Record</h5> -->

<div>
   <div>
      <!-- <form [formGroup]="attendenceForm">
        <div class="row">
         <div class="col-md-2">
             <label for="id">EmployeeID:</label>
            <input type="number" class="form-control" formControlName="employee_id">
         </div>

         <div class="col-md-2">
             <label for="date">Date:</label>
            <input type="date" class="form-control" formControlName="date">
         </div>

         <div class="col-md-2">
             <label for="checkIn">Check In:</label>
            <input type="time" class="form-control" formControlName="checkIn">
         </div>
         <div class="col-md-2">
            <label for="checkOut">Check Out:</label>
            <input type="time" class="form-control" formControlName="checkOut">

         </div>
        </div><br>
         <button class="btn btn-primary" (click)="addAttendence()">Save Attendance</button>&nbsp;
         <button class="btn btn-info" (click)="loadAttendances()">View Attendance</button>

      </form> -->
      <table class="table">
         <thead>
             <tr>
                 <th>Employee Name</th>
                 <th>Date</th>
                 <th>Check-In</th>
                 <th>Check-Out</th>
                 <th>Total Hours</th>
     
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let attendance of attendanceList">
                 <td> Manisha</td>
                 <td> {{attendance.date}}</td>
                 <td>{{ attendance.checkIn }}</td>
                 <td>{{ attendance.checkOut }}</td>
                 <td>{{ attendance.workingHour }}</td>
     
             </tr>
         </tbody>
     </table>
   </div><br><br>

   <!-- <ul>
      <li *ngFor="let attendance of attendances">
        {{ attendance.date }} - Check In: {{ attendance.checkIn }} - Check Out: {{ attendance.checkOut }}
      </li>
   </ul> -->
</div>