<div class="wel">
    <h6>Welcome To Hr Hub</h6>
</div>

<div class="cards">
    <div class="card" style="width: 18rem;" id="one">
        <div class="card-body">
            <!-- <h5 class="element-box-header">Web Checkin</h5> -->
            <div>
                <h5 class="text-center"><i class="fa fa-calendar"></i> Thu 11 Jan 2024 </h5>
                <h5 class="text-center"> 16:04:20 </h5>
                <!-- <div class="text-center mb-3"><button class="btn btn-primary btn-medium btn-block"><i
                            class="fa fa-clock-o"></i> CHECK IN
                    </button></div> -->
            </div>&nbsp;
            <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
    <div class="card" style="width: 18rem;" id="two">
        <div class="card-body">
            <h4 style="text-align: center;"> <i class="ri-file-user-fill"></i>
            </h4>
            <h5 class="card-title"> Registered Employee</h5>
            <h4>Employee = {{employeedata.length}}</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>

            <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
    <div class="card" style="width: 18rem;" id="three">
        <div class="card-body">
            <h4 style="text-align: center;"> <i class="ri-pass-pending-fill"></i>
            </h4>
            <h5 class="card-title">Employee Attendence</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

        </div>
    </div>
    <div class="card" style="width: 18rem;" id="four">
        <div class="card-body">
            <h5 class="card-title">Departments</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>

        </div>
    </div>
</div>
<div class="down">
    <div class="card" style="width: 30rem;" id="five">
        <div id="text">About HR Hub</div>
        <div class="card-body">
           
            eHRMS with objective to pull off the manual legacy HR system and reform the same with eHRMS. With similar objective, As of now, eHRMS is successfully deployed in Panchayat & Rural Development(PRD), Civil Supplies Corporation, NHM, Health Directorate, Revenue etc               </div>
    </div>
    <div class="card" style="width: 30rem;" id="six">
        <div id="text">Employee Attendence</div>

        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
       
        </div>
    </div>
