h5 {
    text-align: center;
}


.down {
    display: flex;
    padding-top: 3%;
    height: 60vh;
}

.cards {
    display: flex;
height: 30vh;
}

#text {
    height: 8vh;
    font-weight: bold;
    text-align: center;
    background-color: #0D6EFD;
}

#one {
    margin-right: 2vw;
}
/* #canvas {
} */
#pie{
    margin-top: -3vh;
}

#two {
    margin-right: 2vw;

}

#three {
    margin-right: 2vw;

}

#four {
    margin-right: 2vw;

}

#five {
    margin-right: 2vw;

}

#six {
    margin-right: 2vw;

}

  