h5 {
    text-align: center;
}

.wel {
    text-align: center;
    margin-left: 25vw;
    border-radius: 1.2vw;
    width: 180px;
    background-color: rgb(77, 135, 156);
}

.wel h5 {
    background-color: darkcyan;


}

.down {
    display: flex;
    padding-top: 3%;
    height: 60vh;
}

.cards {
    display: flex;
}

#text {
    height: 8vh;
    font-weight: bold;
    text-align: center;
    background-color: darkcyan;
}

#one {
    margin-right: 2vw;
    background-color: aquamarine;
}

#two {
    margin-right: 2vw;
    background-color: bisque;

}

#three {
    margin-right: 2vw;
    background-color: coral;

}

#four {
    margin-right: 2vw;
    background-color: crimson;

}

#five {
    margin-right: 2vw;

}

#six {
    margin-right: 2vw;

}

  