
<br>
<div class="cards">
    <div class="card" style="width: 18rem;" id="one">
        <div style="display: block; width: 155px">
            <canvas id="bar" height="360">{{ barChart }}</canvas>
          </div>      
    </div>
    <div class="card" style="width: 20rem;" id="two">
        <div class="card-body">
            <!-- <h5><i class="ri-file-user-fill"></i>Employee = {{employeedata.length}}</h5> -->
            <div style="display: block; width: 155px">
                <canvas id="donut" height="320">{{ donutChart }}</canvas>
            </div> 
        </div>
    </div>
    <div class="card" style="width: 18rem;" id="three">
        <div class="card-body">
            <h4 style="text-align: center;"> 
            </h4>
            <div style="display: block; width: 165px">
                <canvas id="pie" height="357">{{ pieChart }}</canvas>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;" id="four">
        <div class="card-body">
            <div style="display: block; width: 145px">
                <canvas id="line" height="317">{{ lineChart }}</canvas>
            </div>

        </div>
    </div>
</div>
<div class="down">
    <div class="card" style="width: 30rem;" id="five">
        <div id="text">About HR Hub</div>
        <div class="card-body">
           
            eHRMS with objective to pull off the manual legacy HR system and reform the same with eHRMS. With similar objective, As of now, eHRMS is successfully deployed in Panchayat & Rural Development(PRD), Civil Supplies Corporation, NHM, Health Directorate, Revenue etc               </div>
    </div>
    <div class="card" style="width: 30rem;" id="six">
        <div id="text">Employee Attendence</div>

        <div class="card-body">
            <div class="text-center mb-3"><button class="btn btn-primary btn-medium btn-block" (click)="addHolidays()">
                Add Holidays
       </button></div>
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
       
        </div>
    </div>
