<div class="sidebar">
  <a class="brand">
    <!-- <img src="assets/image/img/images.jpg" alt=""> -->
    <span class="text">HR HUB</span>
  </a>

  <a [ngClass]="{'active': step==='home'}" (click)="Home()">Home &nbsp;<i class="ri-home-2-fill"></i></a>

  <a [ngClass]="{'active': step==='employee-list'}" (click)="employee()">Employee &nbsp;<i class="ri-user-fill"></i></a>

  <a [ngClass]="{'active': step==='salary'}" (click)="Salary()">Salary <i class="ri-money-rupee-circle-fill"></i></a>
  <a [ngClass]="{'active': step==='attendence'}" (click)="attendence()">Attendence &nbsp;</a>

  <a>About<i class="ri-information-2-fill"></i></a>
  <a (click)="contact()">Contact <i class="ri-contacts-book-3-line"></i></a>

  
</div>
<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>

</div>