<div class="sidebar">

  <a routerLink="/admin/home">HR HUB</a>

  <a [ngClass]="{'active': step==='home'}" (click)="Home()">Home &nbsp;<i class="ri-home-2-fill"></i></a>

  <a [ngClass]="{'active': step==='employee-list'}" (click)="employee()">Employee &nbsp;<i class="ri-user-fill"></i></a>

  <a [ngClass]="{'active': step==='salary'}" (click)="Salary()">Salary <i class="ri-money-rupee-circle-fill"></i></a>
  <a [ngClass]="{'active': step==='attendence'}" (click)="attendence()">Attendence &nbsp;</a>
  <!-- 
  <a>About<i class="ri-information-2-fill"></i></a>
  <a (click)="contact()">Contact <i class="ri-contacts-book-3-line"></i></a> -->


</div>
<!-- Page content -->
<div class="content">
  <div class="header">
    <nav class="navbar navbar-light">

      <div class="container-fluid ">
        <div class="wel">
          <h6>Welcome To Hr Hub</h6>
        </div>
     
        <div class="btns">

          <img src="/assets/images.jpg" alt="">
        </div>
        <div>
          <h6 id="name">Admin</h6>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>

</div>