.red-button {
  background-color: #e74c3c;
  color: #1a1717;

}

#location {
  display: flex;
  margin-left: 6vw;
  margin-top: -1vw;
}

.btn {
  align-items: start;
  text-align: start;
}

.card-title {
  color: #0D6EFD;
  text-align: center;
  padding-bottom: 1vh;

}

#newHire h6 {

  display: inline;
}

#holiday {
  border-top: 1px solid rgb(230, 215, 215);
padding: 0.5vw;
font-weight: 500;

}


#holi {
  margin-top: -4vh;
  margin-left: 15vw;
}
#newHire {
  
  border-top: 1px solid rgb(230, 215, 215);
  display: flex;
}

#newHire img {

  height: 50px;
  width: 80px;
}


h4 {
  font-weight: bold;
}

i {
  font-weight: bold;
}

.row {
  /* margin: 2vw; */
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 60vh;
}

#one {
  width: 26vw;
}

#two {
  width: 26vw;
  overflow: scroll;

}

#three {

  overflow: scroll;
  width: 27vw;
}

.down {
  justify-content: space-evenly;
  display: flex;
}

#four {
  width: 26vw;
}

#five {
  width: 26vw;
  overflow: scroll;
}

#six {
  width: 27vw;
}