.firstRow{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#change{
    color: rgb(118, 192, 224);
}
#name{
    color: cornflowerblue;
}
.secondRow{
    
    padding-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Detail{
    text-align: left;
    color: #5fb8b6;
}
.col-lg-3{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card-title{
    margin-left: 3vw;
    color: #242e3b;
}
#code{
    width:9vw;
    text-align: center;
    border-radius: 2vw;
    padding: 0.2vw;
    color: white;
    background-color: #242e3b;
}
#status{
    text-align: center;
    background-color:cornflowerblue ;
    color: white;
    border-radius: 1.5vw;
}
.submit{
    text-align: center;
margin-top: 15px;
}
.profile-menu-sidebar .element-box.sticky-top  {
    top: 84px;
}
