<section id="content">
    <main>

        <div>
            <div class="order">
                <div class="head">
                    <h3>Employees</h3>
                    <button class="btn btn-outline-primary me-2" (click)="addEmployee()">Add Employee</button>
                    <button id="pdf" class="btn btn-outline-success" (click)="generatePdf()">Generate PDF</button>


                </div>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Employee ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">JoinDate</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of empList">
                            <td>{{employee.id}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.joinDate | date}}</td>
                            <td>{{employee.salary}}</td>
                            <td>
                                <button class="btn btn-outline-primary me-2" (click)="update(employee.id)"><i
                                        class="ri-edit-box-fill"></i></button>
                                <button type="button" class="btn btn-outline-success" (click)="view(employee.id)"><i
                                    class="ri-eye-fill"  ></i></button>
                                    &nbsp;
                                    <button type="button" class="btn btn-outline-danger" (click)="delete(employeeId)"><i class="ri-delete-bin-6-line"
                                            ></i></button>

                            </td>

                        </tr>

                    </tbody>
                </table>


            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link"  tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link">{{totalItems }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="onPageChange(currentPage)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </main>
</section>