<!-- <app-header></app-header> -->
<div class="sidebar">
  
  <a class="text" routerLink="/employee/home" >HR HUB</a>

  <a [ngClass]="{'active': step==='home'}" (click)="Home()">Home &nbsp;<i class="ri-home-2-fill"></i></a>

  <a [ngClass]="{'active': step==='profile'}" (click)="profile()">Profile &nbsp;<i class="ri-user-fill"></i></a>

  <a [ngClass]="{'active': step==='attendence'}" (click)="attendence()">Attendence &nbsp;</a>



</div>
<!-- Page content -->
<div class="content">
  <div class="header">
    <nav class="navbar navbar-light">
      <div class="container-fluid ">

        <div class="checkin">
          <p-button class="btn" label=" {{ currentState === 'checkin' ? 'Checkin' : 'Checkout' }}  
            " class="btn"
            [ngClass]="{'green-button': currentState === 'checkin', 'red-button': currentState === 'checkout'}"
            (click)="onClickButton()" [text]="true" [raised]="true" severity="success"></p-button>
          <i class="ri-timer-fill"></i>{{startTime | date:'short'}}&nbsp;
        </div>
        <div class="btns">
          <p-button class="btn" label="Apply Leave" (click)="Leave()" [text]="true" [raised]="true"
            severity="success"></p-button>&nbsp;
          <p-button label="Log Time" class="btn" [text]="true" [raised]="true" severity="success" (click)="LogIn()"></p-button>
        </div>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

</div>